@model UsersAndAwardsViewModel
<div class="d-none text-justify modal" id="newUserModal">
    <div class="modal-content">
        @using (Html.BeginForm("AddNewUser", "Home", FormMethod.Post))
        {
            <fieldset>
                <div class="modal-header">
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5>Новый пользователь</h5>
                </div>
                <div class="modal-body">
                    <div>
                        <label>Имя :</label>
                        @Html.TextBox("firstName", null, new { @class = "form-control" })
                        @*<input type="text" name="firstName" required />*@
                    </div>

                    <div>
                        <label>Фамилия :</label>
                        <input type="text" name="lastName" required />
                    </div>

                    <div>
                        <label>Дата Рождения :</label>
                        @Html.TextBoxFor(model => model.DateBirthday, "{0:dd-MM-yyyy}",
                        new
                        {
                            @class = "form-control input-sm datepicker",
                            @type = "datetime-local",
                            placeholder = "Date of Birth",
                            id = "txtContactDOB",
                            //max = DateTime.Today.ToString("dd-MM-yyyy")
                        })
                        @*<input type="datetime-local" name="birthDate" required />*@
                    </div>

                    <div>
                        <label>Награда :</label>
                        <input type="text" name="awardTitle" />
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="submit" value="Submit" />
                    <button>Отменить</button>
                </div>

            </fieldset>
        }
    </div>
</div>

