<div class="d-none text-justify modal">
    <div class="modal-content">
        @using (Html.BeginForm("DeleteUser", "Home", FormMethod.Post))
        {
            <fieldset>
                <div>
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5>Удалить</h5>
                </div>
                <div>
                    <label>Индекс пользователь :</label>
                    <input name="idUser" id="idUser" required />
                </div>

                <div>
                    <input type="submit" name="delete" value="Удалить" />
                    <button>Отменить</button>
                </div>
            </fieldset>
        }
    </div>
</div>



